body{
    background: url('../images/hardwood.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}





#trivia-question{
    text-align: center;
    margin: 0 auto;
    border: 15px solid white;
    width: 1150px;
    height: 750px;
    margin-top: 8%;
    padding: 30px;  
    background-color: rgba(0, 0, 0, 0.7);  
}



#logo{
    width:50px;
    height:70px;
    float: left;
    margin-left: 40%;
    border-radius: 10%;
    border: 2px solid white;
}

#title{
    margin-right: 35%;
    font-family: 'abolition', sans-serif; 
    font-weight: bold; 
    font-style: normal; 
    float: right;
    letter-spacing: 4px;
    font-size: 45px;
    color: white;
    width: 31%;

}



#time{
    font-family: 'hydrophilia-iced', sans-serif; 
    font-weight: 400; 
    font-style: normal; 
    font-size: 70px;
    color: #f00c0c;
    background-color: #110f0f;
    width: 110px;
    margin: 0 auto;
    clear: both;
}

#box-wrap{
    border: 20px solid #ffffff;
    text-align: center;
    width: 35%;
    margin-left:32%;
    padding: 15px;
}

#start{
    margin-top: 6%;
    padding: 25px;
    font-size: 30px;
}

#gameDisplay{
    color: #ffffff;
}


#question{
    margin-top: 5%;
    color: #ffffff;
}